<!DOCTYPE html>
<html>
<script src="/static/js/vue.global.js"></script>
<body>
  <div id="emp-prog-select">
    <label for="employeeList">Select the employee</label>
    <select @change="filterProgramList" class="form-control" v-model="selectedEmployee" id="employeeList">
       <option :value="employee.psnumber" v-for="(employee) in employeeList" :key="employee.psnumber">{{employee.fullname}}</option>
    </select>
    <br>

    <h3>Available Programs</h3>

    <div v-if="availableProgramList.length ==0">
      <p>None</p>
    </div>
    <div v-else>
    <table v-bind:availableProgramList="availableProgramList">
      <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Minimum Eligibility</th>
        <th>Maximum Eligibility</th>
        <th>Type</th>
      </tr>

      <tr v-for="prog in availableProgramList" :key="prog.code">
        <td>{{prog.code}}</td>
        <td>{{prog.description}}</td>
        <td>{{prog.minimumeligibility.description}}</td>
        <td>{{prog.maximumeligibility.description}}</td>
        <td>{{prog.type.description}}</td>
      </tr>
     </table>
    </div>
  </div>

<script>

const app = Vue.createApp({
  created() {
    this.populate()
  },
  data() {
    return {
      employeeList: [],
      programList: [],
      selectedEmployee: {},
      availableProgramList: [],
      selectedProgram: {},
      restEmpList: [],
      restEmpFields:[],
    }
  },
  methods: {
    filterProgramList: function(){
      e1 = this.employeeList.find(entry => entry.psnumber == this.selectedEmployee);
      this.availableProgramList = this.programList.filter(entry => (entry.minimumeligibility.code <= e1.cadre.code && entry.maximumeligibility.code >= e1.cadre.code));
    },
    populate: function(){
      fetch("/training/emplistjson")
        .then(response => response.json())
        .then(data => (this.employeeList = data));

      fetch("/training/proglistjson")
        .then(response => response.json())
        .then(data => (this.programList = data));
    },
    popselection: function() {
      alert(this.selectedEmployee);
      alert(this.selectedProgram);
    }
  }
})

app.mount('#emp-prog-select')

</script>

</body>
</html>
